#body {
    height: auto;
    width: auto;
    background-color: white;
    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    backface-visibility: hidden;
}

#signup-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    background-color: #bbbbbb;
    color: black;
    border: none;
    border-radius: 1vw;

    height: 35%;
    width: 35%;

    display: flex;
    flex-direction: column;
}

#top {
    background-color: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    width: auto;
}

#logo {
    display: flex;
    position: inherit;
    align-self: center;

    margin-left: auto;

    transition: transform 0.35s ease, rotate 1s ease;
    &:hover {
        transform: scale(1.1) rotate(120deg);
    }
    &:active {
        transform: scale(0.99) rotate(240deg);
    }
    backface-visibility: hidden;
}

#signup-text {
    align-self: center;
    justify-self: center;
}

#top-seperator {
    background-color: #dddddd;
    margin-top: 1vh;

    display: flex;
    flex-grow: 1;

    height: 0.25vh;
    width: auto;
}

#credentials-container {
    background-color: none;
    color: black;
    margin-top: 1vh;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#email-input {
    background-color: #dddddd;
    color: black;
    margin-top: 0.25vh;

    border: none;
    border-radius: 1vw;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    transition: transform 0.2s ease;
    &:focus {
        background-color: white;
        color: black;
        transform: scale(1.01);
    }
}