#sidebar-body {
    background-color: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar {
    background-color: green;
    position: sticky;
    left: 0;

    margin-left: -0.5vw;
    margin-top: -1vh;

    display: flex;
    flex-grow: 1;

    max-width: 15%;
    height: fit-content;
}